{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style> 
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <p class="logo"> <img  src="{{ asset('image/logo.jpg') }}"></p>
    <h2>Про наш  магазин</h2>
    <p><p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, magnam, reiciendis! Minima porro repudiandae suscipit! Assumenda atque consequuntur dolorem fuga illo ipsam, ipsum maiores non nulla quas sapiente sed sunt.</p><span>Aliquid autem, consequatur dolor excepturi, illum magnam molestias nobis quia repudiandae sapiente soluta tempora totam velit? Accusantium aut deserunt dicta dolores ea facere libero maiores molestiae nisi officiis, perspiciatis quas.</span><span>Accusantium aliquam, aut cupiditate doloribus ducimus earum error explicabo ipsam libero necessitatibus non odit possimus quae quaerat qui quidem, tempora vel veritatis. Incidunt iure maiores nemo perferendis quam sed sint.</span><span>Animi cumque labore laboriosam nam nobis perspiciatis vitae voluptatem voluptatibus. Ad at ipsum nobis quas tempore! Autem cupiditate, enim libero magni nihil quia sint vero. Dolor in iste repellendus voluptate.</span><span>Assumenda debitis dignissimos dolorem? Amet cumque eum harum iure maiores quaerat sit. Alias, autem beatae, consequatur dolorem, error eveniet fugiat laboriosam laudantium libero magnam nesciunt officiis praesentium repudiandae sequi unde.</span><span>Accusamus ad at consequatur deserunt dignissimos, eligendi est, et ipsam itaque iure iusto magnam molestias nam optio quam quas tempore? Ad at beatae consequatur dolore ipsam sunt temporibus? Beatae, expedita?</span><span>A ab accusantium deserunt dolorem ex fugiat id ipsam iusto libero magnam, minus necessitatibus officia praesentium quidem sint tempora vero voluptates! Aliquid est nam veniam. Dicta explicabo harum incidunt iste.</span><span>Aliquam architecto consequuntur ea facere itaque libero modi nobis repellendus. A accusantium asperiores blanditiis eveniet ex harum illo iusto neque, nihil officia quae sunt voluptates voluptatum! Amet laudantium tenetur totam!</span><span>Alias commodi doloribus explicabo hic praesentium quae quisquam temporibus tenetur. Alias aliquid aperiam blanditiis corporis culpa cum excepturi exercitationem inventore labore laudantium odit placeat quaerat quasi quidem, similique sint vitae.</span><span>A assumenda commodi consectetur culpa doloribus earum ipsa libero maxime modi mollitia nam quas ratione, soluta temporibus voluptate! Aspernatur aut enim ipsum tempora ullam voluptatem. Iste praesentium recusandae reprehenderit tenetur.</span></p>
</div>


{% endblock %}
