body{
    background-color: white;
    background-image: url("../image/fn.jpg");
    max-width: 1366px;
}
main{
    margin-top:56px;
}
h2 {
    text-align:center;
}
.logo{
    text-align: center;
}
h1 {
    text-align: center;
}
.card-top {
    margin: auto;
    width:170px;
    height:120px;
}
#b1 {
    margin-right: 3rem;
}

.second .dropdown-item {
    position: relative;
}

.second .dropdown-item:hover .dropdown-menu {
    display: block;
}

.second .dropdown-item > a {
    color: black;
}

.second .dropdown-item .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
}


.second .dropdown-item > a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .second .dropdown-menu-right {
        left: 100%;
        top: -11px;

    }
}

.navbar .cart {
    margin-left: 1em;
}

.navbar .cart .fa-shopping-cart {
    font-size: 159%;
    line-height: 0.6em;
}

.navbar .cart .badge {
    margin-left: -0.5em;
}

#header-to-cart {
    color:white;
}

