body{
    background-color: whitesmoke;

}
main{
    margin-top:56px;
}
h2 {
    text-align:center;
}
.logo{
    text-align: center;
}
h1 {
    text-align: center;
    color: darkslateblue;
}
.card-top {
    margin: auto;
    width:170px;
    height:120px;
}