body{
    background-color: white;
    max-width: 1366px;
}
main{
    margin-top:59px;
}

.logo{
    text-align: center;
}

.img-product .card{
    width:120px;
    height:150px;
}

.card-img-top {

}
#b1 {
    margin-right: 3rem;
}

.second .dropdown-item {
    position: relative;
}

.second .dropdown-item:hover .dropdown-menu {
    display: block;
}

.second .dropdown-item > a {
    color: black;
}

.second .dropdown-item .dropdown-item {
    overflow: hidden;
    text-overflow: ellipsis;
}


.second .dropdown-item > a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .second .dropdown-menu-right {
        left: 100%;
        top: -11px;

    }
}

.navbar .cart {
    margin-left: 1em;
}

.navbar .cart .fa-shopping-cart {
    font-size: 159%;
    line-height: 0.6em;
}

.navbar .cart .badge {
    margin-left: -0.5em;
}

#header-to-cart {
    color:white;
}

.table td {
   vertical-align: middle;
}

.table td.cart-quantity input {
    width: 90px;
}
