body{
    background-image: url("App/public/image/fon.jpg");

}
main{
    margin-top:56px;
}
h2 {
    text-align:center;
}
.logo{
    text-align: center;
}
h1 {
    text-align: center;
    color: darkslateblue;
}
.card-top {
    width:250px;
    height:200px;
}