body{
    background-color: whitesmoke;
    background-image: url("../image/fn.jpg");
    max-width: 1366px;
}
main{
    margin-top:56px;
}
h2 {
    text-align:center;
}
.logo{
    text-align: center;
}
h1 {
    text-align: center;
    color: darkslateblue;
}
.card-top {
    margin: auto;
    width:170px;
    height:120px;
}
#b1 {
    margin-right: 3rem;
}