<div class="table">
    <div class="row t">
        {% for categor in category %}

            <div class="col-sm">
                <div class="card"  >
                    <img class="card-img-top img-produc" src="
                    {%- if categor.imageName -%}{{ vich_uploader_asset(categor,'imageFile') |
                    imagine_filter('squared_category_thumbnail') }}
                    {%- else -%} //placehold.it/200x200
                    {%- endif -%}
                                 " >
                </div>
                <a href="{{ path('category_show',{id:categor.id}) }}">{{ categor.name }} </a>

            </div>

        {% endfor %}

    </div >
</div>