{% extends 'base.html.twig' %}

{% block body %}

        <h1>Корзина</h1>
        <h2>{{ cart.user }}</h2>
    <div id="cartTable">
       {{ include('order/cart_table.html.twig', {'cart': cart, 'form': form}) }}
    </div>
    <div class="modal" id="confirmationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Подтверждение удаления</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Действительно удалить товар из корзины?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button type="button" class="btn btn-danger"  data-dismiss="modal" id="confirmedRemoveFromCartButton">Удалить</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

